*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Animatiions*/
@keyframes flash{
    0% {background-color: #FFF;}
    25% {background-color: rgba(255,255,255,0.3);}
    95% {background-color: #FFF;}
    100% {background-color: rgba(255,255,255,0.99);}
}
@keyframes opacity{
    0% {background-color: #FFF;}
    10% {background-color: #FFF;}
    100% {background-color: rgba(255,255,255,0);}
}
@keyframes rotate{
    0% {transform: rotate(0deg) scale(0.3);}
    100% {transform: rotate(7200deg) scale(1);}
}
@keyframes opacityCard{
    0% {opacity: 1;}
    100% {opacity: 0;}
}

/*Card area*/
body{
    background-image: url(../img/background.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input[type="checkbox"]{
    display: none;
}
.up,
.low{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    perspective: 500px; 
}
.card{
    height: 281px;
    width: 194px;
}
.card2{
    height: 429px;
    width: 299px; 
}
.card,
.card2{
    background-image: url(../img/card.png);
    background-size: cover;
    border-radius: 10px;
}
.item{
    transition: .5s all ease;
    transform: rotateX(45deg) scale(0.7);
    box-shadow: 0px 5px 40px rgb(211, 209, 209);
}
.item.card2{
    transition: .5s all ease;
    transform: rotateX(0) scale(1);
    box-shadow: 0px 5px 20px rgb(243, 221, 97);
}
.item:hover{
    transition: .5s all ease;
    transform: rotateX(0deg) scale(1);
    box-shadow: none;
}
label{
    display: block;
    width: 194px;
    height: 281px;
    cursor: pointer;
}
.card2>label{
    display: block;
    height: 429px;
    width: 299px;
    cursor: pointer;
}
.end{
    display: none;
    position: relative;
    z-index: -20;
}

/*Checked input*/
#leftHand:checked~.up>.card:nth-child(1){
    transform: rotateY(180deg) scaleX(-1);
    background-image: url(../img/leftHand.png);
}
#head:checked~.up>.card:nth-child(2){
    transform: rotateY(180deg) scaleX(-1);
    background-image: url(../img/head.png);
}
#rightHand:checked~.up>.card:nth-child(3){
    transform: rotateY(180deg) scaleX(-1);
    background-image: url(../img/rightHand.png);
}
#leftLeg:checked~.low>.card:nth-child(1){
    transform: rotateY(180deg) scaleX(-1);
    background-image: url(../img/leftLeg.png);
}
#rightLeg:checked~.low>.card:nth-child(2){
    transform: rotateY(180deg) scaleX(-1);
    background-image: url(../img/rightLeg.png);
}
#full:checked~div>.card2{
    transform: rotateY(180deg) scaleX(-1);
    background-image: url(../img/full.png);
}

/*Class animations*/
.flash,
.opacity{
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: -10;
    top: 0;
    left: 0;
}
.flash{
    display: none;
    animation-name: flash;
    animation-duration: .1s;
    animation-iteration-count: 30;
}
.opacity{
    display: none;
    animation-name: opacity;
    animation-delay: 3s;
    animation-duration: 8s;
}
.rotate{
    animation-name: rotate;
    animation-duration: 6s;
}
.opacityCard{
    animation-name: opacityCard;
    animation-duration: 3.8s;
}
